@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
html {
  box-sizing: border-box;
  font-size: 12px;
}
body {
  background-color: rgb(224, 224, 151);
  margin: 0;
  padding: 0;
}
